page-login {

  .login-content {

    background-color: color($colors, primary);

    .logo-row {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    .login-box {
      padding: 20px 20px 0px 20px;
      margin-top: 20px;
    }

    ion-row {
       align-items: center;
     }

     ion-item {
         border-radius: 0px !important;
         padding-left: 30px !important;
         margin-bottom: 10px;
         border: 1px solid color($colors, light);;
         border-bottom: 0px !important;
         box-shadow: none !important;
         background: color($colors, light);
     }

     .signup-col {
       margin: 0px 16px 0px 16px;
       padding-bottom: 20px;
     }

     .item-inner {
       border-bottom-color: color($colors, light) !important;
       box-shadow: none !important;
     }

     .submit-btn {
       border-radius: 0px !important;
       border: 1px solid color($colors, light);
     }


  }

  .logoportada {
    padding-top: 40px;
  }

  .logoeuropa {
    padding-top: 20px;
  }

  .footerlogin {
    color: white;
  }

  

}
