page-home {
    .msg-card {
        color: #ffffff;
    }
    .blue{
        background-color: #2255a4;
        min-width: 70%;
    }
    
    .green{
        background-color: #28b779;
        min-width: 70%;
    }
    .orange{
        background-color: #da9628;
        min-width: 70%;
    }

    .red{
        background-color: #da542e;
        min-width: 70%;
    }
    .violet{
        background-color: #603bbc;
        min-width: 70%;
    }
    .pink{
        background-color: #da287e;
        min-width: 70%;
    }
    .greenlight{
        background-color: #c2da28;
        min-width: 70%;
    }
    .orangedark{
        background-color: #da6f28;
        min-width: 70%;
    }
    .bluelight{
        background-color: #27a9e3;
        min-width: 70%;
    }
}
