page-organizacion {
    .blue{
        background-color: #0074D9;
        min-width: 70%;
    }
    
    .green{
        background-color: #28b779;
        min-width: 70%;
    }
    .orange{
        background-color: #da9628;
        min-width: 70%;
    }

    .red{
        background-color: #da542e;
        min-width: 70%;
    }
}