page-sgi {
    .msg-card {
        color: #ffffff;
    }
    .blue{
        background-color: #2255a4;
        min-width: 70%;
    }
    
    .green{
        background-color: #28b779;
        min-width: 70%;
    }
    .orange{
        background-color: #da9628;
        min-width: 70%;
    }
}
